tools/pandoc/
out/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# If you want to commit pandoc outputs / extracted images, keep these unignored:
# dissertation.pandoc.tex
# media/
